@font-face {
  font-family: monofett;
  src: url(fonts/Monofett-Regular.woff2);
  font-display: swap;
}
@font-face {
  font-family: playball;
  src: url(fonts/Playball-Regular.woff2);
  font-display: swap;
}
body {
  background-image: url(img/baggrund.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
nav {
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
}
.menu a {
  color: white;
  text-decoration: none;
  font-size: 15px;
  padding: 5px;
  font-family: monofett;
}
.menu a:hover {
  color: palevioletred;
  transform: scale(1.05);
  transition: 0.3s;
}
.img_1 img {
  width: 100%;
  position: center;
  box-shadow: 0 9px 15px rgba(0, 0, 0, 0.5);
}
h1 {
  color: white;
  text-align: center;
  font-size: 30px;
  font-family: playball;
}
p {
  color: white;
  text-align: center;
  margin: 15px;
  font-size: 20px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  line-height: 30px;
}
li {
  color: white;
  font-size: 20px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  line-height: 30px;
}
.insta img {
  width: 50px;
  position: center;
  margin-left: 45%;
  box-shadow: 0 9px 15px rgba(0, 0, 0, 0.5);
}
.galleri img {
  width: 80%;
  margin-left: 50px;
  padding: 10px;
  box-shadow: 0 9px 15px rgba(0, 0, 0, 0.5);
}
